<h1>Authors</h1>

<table>
  <tr>
    <td>PAUSEID</td><td>count</td>
  </tr>
  [% FOREACH author IN authors %]
    <tr>
      <td><a href="/author/[% author.pauseid %]">[% author.pauseid %]</a></td>
      <td>[% author.count %]</td>
    </tr>
  [% END %]
</table>
