<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
     content="width=device-width, initial-scale=1, user-scalable=yes">
  <title>CPAN Digger</title>
<style>
.error {
   color: red;
}
.item {
    margin-top: 10px;
}
</style>
</head>
<body>
<h1>CPAN Digger</h1>
[% FOREACH item IN distros %]
<div class="item">
    <b><a href="https://metacpan.org/release/[% item.distribution %]">[% item.distribution %]</a></b><br>
    <a href="https://metacpan.org/author/[% item.author %]">[% item.author %]</a><br>
    [% item.date %]<br>
    [% IF item.vcs_url %]
        <a href="[% item.vcs_url %]">[% item.vcs_name %]</a><br>
    [% ELSE %]
        <div class="error">No resources.repository</div>
    [% END %]

    [% IF item.has_ci %]
        [% IF item.travis %]
            <a href="[% item.vcs_url %]/blob/master/.travis.yml">travis.yml</a><br>
        [% END %]
        [% IF item.github_actions %]
            <a href="[% item.vcs_url %]/tree/master/.github/workflows/">GitHub Actions</a><br>
        [% END %]
    [% ELSE %]
        <div class="error">No CI configuration file could be found</div>
    [% END %]

</div>
[% END %]

<!--
<ul>
    <li>Help module authors to ensure that each module that has a public Version Control System (VCS) also include a link to it in the meta files.</li>
    <li>Help module authors to link to the preferred bug tracking system.</li>
    <li>Help the projects to have a Continuous Integration (CI) system connected to their VCS.</li>
    <li>Help module authors to add a license field to the meta files.</li>
    <li>Help with the new (?) <b>contributing</b> file.</li>
    <li>Suggest to add a Travis-CI badge to the README.md</li>
    <li>Look at test coverage reports.</li>
    <li>Maybe: Check if there are xt test?</li>
    <li>Maybe: Check the Kwaletee metrics</li>
</ul>
-->

<hr>
Generated using CPAN::Digger Version [% version %]<br>
Last updated: [% timestamp %] <a href="https://github.com/szabgab/cpan-digger-new">Source</a>
Supported via <a href="https://www.patreon.com/szabgab">Patreon</a>
</body></html>

