<h1>CPAN Stats</h1>

Total number of releases: [% total %]

<h2>Top Authors</h2>
<ul>
[% FOREACH value IN authors %]
   <li><a href="https://metacpan.org/author/[% value.0 %]">[% value.0 %]</a> [% value.1 %]</li>
[% END %]
</ul>

<hr>
Elapsed time: [% elapsed %] sec
